# Environment variables for Ferrum

# ===================================================
# Ferrum Registry File
# ===================================================
# Path to the registry file used by Ferrum.
# Make sure to create the folders to the file.
# Keep filename simple. You won't need to change it.
FERRUM_REGISTRY_FILE="./data/registry.fe"