# Environment variables for Ferrum

# ===================================================
# Ferrum Registry File
# ===================================================
# Path to the registry file used by Ferrum.
# Make sure to create the folders to the file.
# Keep filename simple. You won't need to change it.
FERRUM_REGISTRY_FILE="./data/registry.fe"

# ===================================================
# Debug Mode
# ===================================================
# Set to "true" to enable debug mode, which provides 
# additional logging and error information.
FERRUM_DEBUG_MODE="true"

# ===================================================
# Ferrum Log File
# ===================================================
# Path to the log file used by Ferrum.
# Make sure to create the folders to the file.
# Keep filename simple. You won't need to change it.
FERRUM_LOG_FILE="./data/ferrum.log"